<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Twitter Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="static/css/main.css" rel="stylesheet">
    <!--
    <link rel=​"shortcut icon" href=​"static/​favicon.ico">​
    -->
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>place<span>corg.i</span>t</h1>
        </div>

        <div id="content">
            <p>Need a placeholder that's not an ugly gray box?  Want your site to have all the adorableness of corgis?  Wait no longer!  It's as simple as.</p>
            <div class="code">
                <a href="http://placecorg.info/400x300">http://placecorg.info/400x300</a>
            </div>
            <p>Based on the size you specify, the corgis with the most appropriate aspect ratio will dropped straight onto your site and into your heart, at the size you specify!</p>
            <p>You may also specify width-only or height-only by doing:</p>
            <div class="code">
                <a href="http://placecorg.info/400">http://placecorg.info/400</a>
            </div>
            <div class="code">
                <a href="http://placecorg.info/x400">http://placecorg.info/x400</a>
            </div>
            <p>And the most appropriately square corgi we can find will be making your site fluffy-butt-full in no time!</p>
        </div>
    </div>

</body>
</html>